# SQLite - COMENTAMOS LA DB PARA QUE HAYA REDUNDANCIA
# data/*.db  <-- Quita o comenta esto para que el Nodo B reciba los datos
data/*.db-wal
data/*.db-shm

# Archivos de Backup y Logs (Basura técnica)
*.bak
*.old
*.log
automation/cron_log.txt

# Hugo
blog/public/
blog/resources/
.hugo_build.lock

# Python
__pycache__/
*.pyc

# OS
.DS_Store
