{{ define "main" }}
  <article class="pa3 pa4-ns mw9 center">
    <header class="ph2 mb4">
      <h1 class="f2 navy lh-title mb2">🏗️ ARQUITECTURA DEL SISTEMA</h1>
      <p class="f5 gray i">Especificaciones técnicas, hardware y flujo de datos del nodo Odroid-C2.</p>
    </header>
    <section class="flex-ns flex-wrap">
      {{ range .Pages }}
        <div class="w-100 w-33-ns mb4 ph2">
          <div class="ba b--light-gray pa3 br2 shadow-4 bg-white h-100 flex flex-column">
            <h2 class="f4 athelas navy mb2">{{ .Title }}</h2>
            <div class="f6 lh-copy mid-gray flex-auto">
              {{ .Summary | truncate 180 }}
            </div>
            <a href="{{ .Permalink }}" class="mt3 db tc ba b--blue blue no-underline br1 pa2 f7 uppercase tracked hover-bg-blue hover-white">Ver Especificaciones</a>
          </div>
        </div>
      {{ end }}
    </section>
  </article>
{{ end }}
