{{ define "main" }}
  <article class="pa3 pa4-ns mw9 center">
    <h1 class="f2 navy">{{ .Title }}</h1>
    <section class="flex-ns flex-wrap">
      {{ range .Paginator.Pages }}
        <div class="w-100 w-30-l mb4 ph2">
          <div class="ba b--light-gray pa3 br2 shadow-4 bg-white h-100">
            <h2 class="f4 athelas">{{ .Title }}</h2>
            <p class="f6 gray">{{ .Summary }}</p>
            <a href="{{ .Permalink }}" class="blue no-underline fw6">Ver Informe →</a>
          </div>
        </div>
      {{ end }}
    </section>
  </article>
{{ end }}
