.container {
    max-width: 1000px !important;
    margin: 0 auto !important;
    display: block !important;
}

body {
    display: block !important;
}

.content {
    max-width: 1000px !important;
    margin: 0 auto !important;
}
